<h1>THIS IS THE DASHBOARD</h1>
<button id="newPostBtn">Create a new post</button>

<button id="logoutBtn">Logout</button>

<main class="container">
{{#each posts as |post|}}
{{> dashboard-posts}}
{{/each}}
</main>