<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
<h1>Welcome to your dashboard!</h1>
  </div>
</nav>

<div class="row justify-content-around">
<button id="newPostBtn" class="btn btn-secondary btn-lg col-3 my-2">Create a new post</button>

<button class="btn btn-secondary btn-lg col-3 my-2"><a href="/myposts">My posts</a></button>

<button id="logoutBtn" class="btn btn-secondary btn-lg col-3 my-2">Logout</button>
</div>

<main class="container">
{{#each posts as |post|}}
{{> dashboard-posts}}
{{/each}}
</main>