<h1>THIS IS THE EDIT POST PAGE</h1>
<button id="logoutBtn">Logout</button>
<input type="text" id="post_title" value="{{post_title}}" />
<Textarea id="post_body">{{post_body}}</Textarea>
<button id="updateBtn">Update</button>
<a href="/myposts"><button id="cancelBtn">Cancel</button></a>