<h1>THIS IS THE LOGIN PAGE.</h1>
<input type="email" name="emailField" placeholder="email" />
<input type="text" name="passField" placeholder="password" />
<button>-></button>
<a href="/signup">Sign up for R.A.M.</a>