<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Welcome to the Tech Blog</span>
  </div>
</nav>
<main class="row my-1">
  <section class="col-xl-6 col-md-12">
    <div class="input-group my-2">
      <span class="input-group-text" id="email-input">Email</span>
      <input
        type="email"
        id="emailField"
        placeholder="email"
        class="form-control"
        aria-describedby="email-input"
      />
    </div>

    <div class="input-group my-2">
      <span class="input-group-text" id="password-input">Password</span>
      <input
        type="text"
        id="passField"
        placeholder="password"
        class="form-control"
        aria-describedby="password-input"
      />
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-secondary btn-lg col-8 my-2">Sign In</button>
      <button class="btn btn-secondary btn-lg col-8 my-2">
        <a href="/signup">Create a new account.</a></button>
    </div>
    <img
      src="/assets/Computer.PNG"
      alt="Computer Photo"
      id="computerImg"
      class="col-12 computer"
    />
    <img src="/assets/Table.PNG" alt="Table" class="col-12 computer" />
  </section>

  <section class="col-xl-6 col-md-12" id="aboutSection">
    <div class="card card-body my-2">
      <h2>About the Blog</h2>
      This blog was created to give developers a way to communicate, deliberate,
      and connect with other developers across the globe. Create an account to
      get started, or login to see your activity.
      <br /><br />
      Once you've reached the dashboard, you can create posts, comment on
      others' posts, and get insights into a new world.
    </div>
    <div class="card card-body my-3">
      <h3>About the Developer</h3>
      My name is Brice, and I'm an Illinois native living in Denver, CO. I am
      currently enrolled in Denver University's Coding Bootcamp, and will be
      completing on Oct. 11th, 2021.
      <br /><br />
      Engineer, developer, project manager, and a hungry learner. Let's make
      something great.
    </div>
  </section>
</main>

<footer
  class="col-md-12 col-sm-12 input-group-text py-2 justify-content-center"
>Developed by Brice Bridges • Reach me at&nbsp
  <a class="footerEmail" href="mailto:bbridgesdev@gmail.com" target="_blank">
    bbridgesdev@gmail.com
  </a>
  &nbsp• GitHub&nbsp
  <a
    class="footerEmail"
    href="https://github.com/bcbridges"
    target="_blank"
  >bcbridges</a></footer>