<h1>THIS IS THE LOGIN PAGE.</h1>
<input type="email" id="emailField" placeholder="email" />
<input type="text" id="passField" placeholder="password" />
<button>-></button>
<a href="/signup">Sign up for R.A.M.</a>