<h1>THIS IS MY PERSONAL POSTS</h1>

<button id="newPostBtn">Create a new post</button>

<button id="logoutBtn">Logout</button>

<a href="/dashboard">Back to Dashboard</a>

<main class="container">
{{#each posts as |post|}}
{{> personal-posts}}
{{/each}}
</main>