<h1>MY POSTS</h1>

<div class="row justify-content-around">
<button class="btn btn-secondary btn-lg col-3 my-2" id="newPostBtn">Create a new post</button>

<button class="btn btn-secondary btn-lg col-3 my-2"><a href="/dashboard">Back to Dashboard</a></button>

<button id="logoutBtn" class="btn btn-secondary btn-lg col-3 my-2">Logout</button>
</div>

<main class="container">
{{#each posts as |post|}}
{{> personal-posts}}
{{/each}}
</main>