<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Signup for the Tech Blog</span>
  </div>
</nav>

<div class="input-group my-2">
  <label class="input-group-text" for="username">Username:</label>
  <input
    class="form-control"
    type="text"
    id="username"
    placeholder="d3v-Devin"
  />
</div>

<div class="input-group my-2">
  <label class="input-group-text" for="email">Email:</label>
  <input
    class="form-control"
    type="email"
    id="email"
    placeholder="techy@techman.com"
  />
</div>

<div class="input-group my-2">
  <label class="input-group-text" for="firstName">First Name:</label>
  <input class="form-control" type="text" id="firstName" placeholder="Devin" />
</div>

<div class="input-group my-2">
  <label class="input-group-text" for="lastName">Last Name:</label>
  <input
    class="form-control"
    type="text"
    id="lastName"
    placeholder="Developer"
  />
</div>

<div class="input-group my-2">
  <label class="input-group-text" for="pass">Password:</label>
  <input
    class="form-control"
    type="text"
    id="pass"
    placeholder="***10+ digits***"
  />
</div>

<div class="input-group my-2">
  <label class="input-group-text" for="passRepeat">Re-Enter Password:</label>
  <input
    class="form-control"
    type="text"
    id="passRepeat"
    placeholder="***10+ digits***"
  />
</div>

<button name="signupBtn">Sign Up</button>

<a href="/">Cancel</a>