body {
  position: relative;
  background: #8a9fb3;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  color: black;
}

.footerEmail {
  color: black;
}
.footerEmail:hover {
  color: red;
}

#aboutSection {
  height: fit-content;
  font-size: large;
}

@media screen and (max-width: 1200px) {
  .computer {
    width: 80%;
    display: block;
    margin: auto;
  }
}
